<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Adeptus Titanicus army builder</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/at-data.js"></script>
    <script src="js/at.js"></script>
</head>
    <body>
        <div id="app">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">
                    <img src="/assets/at.png" width="30" height="30" class="d-inline-block align-top" alt=""/>
                    Adeptus Titanicus Army list builder
                </a>
            </nav>
            <div class="container-fluid" style="margin-top:2%;">
                <div class="row">
                    <div class="col-2">
                        <h2>Titans</h2>
                        <div class="list-group">
                            <a href="#" v-for="titan in titans" v-on:click="addTitan(titan)" class="list-group-item list-group-item-action">
                                {{ titan.name + " (" + titan.cost + " pts)" }}
                            </a>
                        </div>
                    </div>
                    <div class="col-8">
                        <h2>List</h2>
                        <div v-for="(titan, index) in armyList" class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-11">
                                        <h5>{{ titan.name + " (" + titan.cost + " pts)" }}</h5>
                                    </div>
                                    <div class="col-1">
                                        <a href="#" v-on:click="moveTopTitan(index, titan)" data-toggle="tooltip" data-placement="top" title="Move top">
                                            <img src="/assets/chevron-up.svg" width="15" height="15" class="d-inline-block align-top" alt=""/>
                                        </a>
                                        <a href="#" v-on:click="moveDownTitan(index, titan)" data-toggle="tooltip" data-placement="top" title="Move down">
                                            <img src="/assets/chevron-down.svg" width="15" height="15" class="d-inline-block align-top" alt=""/>
                                        </a>
                                        <a href="#" v-on:click="cloneTitan(index, titan)" data-toggle="tooltip" data-placement="top" title="Duplicate">
                                            <img src="/assets/files.svg" width="15" height="15" class="d-inline-block align-top" alt=""/>
                                        </a>
                                        <a href="#" v-on:click="removeTitan(index, titan)" data-toggle="tooltip" data-placement="top" title="Delete">
                                            <img src="/assets/x-circle-fill.svg" width="15" height="15" class="d-inline-block align-top" alt=""/>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col"><h6>Left Arm</h6></div>
                                    <div class="col"><h6>Carapace</h6></div>
                                    <div class="col"><h6>Right Arm</h6></div>
                                </div>
                                <div class="row">
                                    <div v-if="titan.leftArm" class="col">{{ titan.leftArm.name + " (" + titan.leftArm.cost + " pts)" }}</div>
                                    <div v-if="titan.carapace" class="col">{{ titan.carapace.name + " (" + titan.carapace.cost + " pts)" }}</div>
                                    <div v-if="titan.rightArm" class="col">{{ titan.rightArm.name + " (" + titan.rightArm.cost + " pts)" }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <h2 style="text-align: center;">Total {{ total }} pts</h2>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>